@page "/AllUsers"
@using Services;
@using Data;
@inject UserHandler userhandler;
@inject NavigationManager manager;

<h3>Alla users</h3>

@foreach (var user in users)
{
    
        <button class="btn-user" @onclick="@(async () => await GetUser(user))">@user.UserName</button><br />
    
}

<button @onclick="@CreateNewUser" class="btn-small">Skapa ny user</button>



@code
{

    private IEnumerable<CreateUser> users = new List<CreateUser>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        users = await userhandler.GetAllUsersAsync();
    }


    public void CreateNewUser()
    {
        manager.NavigateTo($"/SignUp");
    }

    public async System.Threading.Tasks.Task GetUser(CreateUser user)
    {
        manager.NavigateTo($"/ShowUser/{user.Id.ToString()}");
    }



}
