@inherits LayoutComponentBase
@using Services;
@using Data;
@inject UserHandler userHandler;

<PageTitle>My ToDoLists</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu Hide="@Hide" currentUser="@currentUser"></NavMenu>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4 w-auto">
            @Body
        </article>
    </main>
</div>


@code {
    public bool Hide { get; set; } = false;
    public CreateUser? currentUser { get; set; }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        try
        {
            currentUser = await userHandler.GetCurrentUser();
            Hide = false;

        }
        catch (Exception)
        {
            currentUser = null;
        }
    }
} 